// for buzzer, copied from sadek baroudi:
// https://github.com/sadekbaroudi/zmk-fingerpunch-keyboards/blob/main/boards/arm/vulpes_majora_v1/vulpes_majora_v1-pinctl.dtsi

&pinctrl {
    pwm_ch1a_default: pwm_ch1a_default {
        group1 {
            pinmux = <PWM_5A_P26>;
        };
		group2 {
		    pinmux = <PWM_6A_P28>;
		};
    };
};
